// Colors
:root {
    --black-400: #050505;
    --black-300: #1F1F1F;
    --black-200: #2D2D2D;
    --black-100: #3A3A3A;

    --white-400: #757575;
    --white-300: #E9E9E9;
    --white-200: #F4F4F4;
    --white-100: #FFFFFF;

    --purple: #A445ED;
    --red: #FF5252;
}


// Typography &

$serif: 'Lora', serif;
$mono: 'Roboto Mono', monospace;

@mixin headingL($size: 64px, $line: 77px, $weight: 700) {
    font-size: $size;
    line-height: $line;
    // font;
    font-weight: $weight;

    
}

@mixin headingM($size: 24px, $line: 29px, $weight: 400) {
    font-size: $size;
    line-height: $line;
    // font;
    font-weight: $weight;
}

@mixin headingS($size: 20px, $line: 24px, $weight: 400) {
    font-size: $size;
    line-height: $line;
    // font;
    font-weight: $weight;
}

@mixin bodyM($size: 18px, $line: 24px, $weight: 400) {
    font-size: $size;
    line-height: $line;
    // font;
    font-weight: $weight;
}

@mixin bodyS($size: 14px, $line: 17px, $weight: 400) {
    font-size: $size;
    line-height: $line;
    // font;
    font-weight: $weight;
}

// @mixin dark-mode {
//     background-color: red;
// }

// .dark-mode {
//     @include dark-mode
// }

// .light-mode {
//     @include light-mode
// }