@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

@import 'variables';
@import './components/searchField';
@import './components/header';
@import './components/dropdown';
@import './components/toggler';

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--white-100)
}

.notFound {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h4 {
        @include headingS(20px, 24px, 700);
        color: var(--black-400);
        margin-top: 44px;
        margin-bottom: 24px;
    }

    p {
        @include bodyM;
        color: var(--white-400);
    }
}

body.dark {
    --white-100: #050505;
    --white-200: #1F1F1F;
    --white-300: #3A3A3A;
    --black-200: #fff;
    --black-300: #fff;
    --black-400: #fff;
}

.flex {
    display: flex;
    align-items: center;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
}


.container {
    max-width: 737px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 58px;
    padding-bottom: 100px;
}

.header {
    &__theme {
        display: flex;
        gap: 54px;
        align-items: center;
    }

    &__toggler-btn img {
        vertical-align: middle;
        margin-left: 20px;
    }
}

.dictionary {
    &__word-field {
        margin-top: 45px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }


    &__word-spelling {
        span {
            margin-top: 8px;
            color: var(--purple);
            @include headingM;
            display: block;
        }
    }

    &__word {
        @include headingL();
        color: var(--black-200);
    }

    &__play-btn {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        display: flex;
        background-color: #E8D1FB;
        align-items: center;
        justify-content: center;
    }

    &__word-type {
        margin-top: 40px;
        display: flex;
        align-items: center;
        gap: 20px;
        @include headingM(24px, 29px, 700);
        color: var(--black-400);

        span {
            height: 1px;
            width: 100%;
            background: var(--white-300);
        }
    }

    &__word-meaning {
        margin-top: 40px;

        p {
            @include headingS;
            color: var(--black-400);
            margin-bottom: 25px;
        }
    }

    &__meaning-list {

        li {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 13px;
            @include bodyM;
            color: var(--black-300)
        }

        span {
            margin-right: 20px;
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #8F19E8;
        }
    }

    &__word-synonyms {
        margin-top: 64px;


        p {
            @include headingS;
            color: var(--black-400);

        }

        span {
            @include headingS(17px, 20px, 700);
            color: var(--purple);
            margin-left: 22px;
        }
    }

    &__word-example {
        @include bodyM();
        color: var(--white-400);
        margin-left: 48px;
    }

    &__word-source {
        margin-top: 40px;
        border-top: 1px solid var(--white-300);
        padding-top: 19px;
        @include bodyS;
        color: var(--white-400);

        a {
            margin-left: 20px;
            color: var(--black-300);
            text-decoration: underline;
        }
    }
}