@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap');

@import 'variables';
@import './components/searchField';
@import './components/header';
@import './components/dropdown';
@import './components/toggler';

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 100%;
}

body {
    font-family: 'Inter', sans-serif;
    background-color: var(--white-100)
}


.notFound {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;

    h4 {
        @include headingS(20px, 24px, 700);
        color: var(--black-400);
        margin-top: 44px;
        margin-bottom: 24px;
    }

    p {
        @include bodyM;
        color: var(--white-400);
    }
}

body.dark {
    --white-100: #050505;
    --white-200: #1F1F1F;
    --white-300: #3A3A3A;
    --black-200: #fff;
    --black-300: #fff;
    --black-400: #fff;
}

.flex {
    display: flex;
    align-items: center;
}


li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: var(--purple);
}

.emoji {
    font-size: 64px;
    margin-top: 132px;
}

.loading {
    position: absolute;
    color: red;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: #f2f2f2;
    z-index: 1;
    display: flex;
    align-items: center;
    font-size: 34px;
    justify-content: center;
}

.container {
    max-width: 737px;
    margin: 0 auto;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 58px;
    padding-bottom: 100px;

    @media (max-width: 768px) {
        padding-left: 24px;
        padding-right: 24px;
    }
}

.header {
    &__theme {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 26px;
    }

    &__toggler-btn img {
        vertical-align: middle;
        margin-left: 20px;
    }
}

.dictionary {
    &__word-field {
        margin-top: 45px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }


    &__word-spelling {
        span {
            margin-top: 8px;
            color: var(--purple);
            @include headingM;
            display: block;

            @media (max-width: 768px) {
                @include bodyM;
            }
        }
    }

    &__word {
        @include headingL();
        color: var(--black-200);

        @media (max-width: 768px) {
            @include headingL(32px, 39px);
        }
    }

    &__play-btn {
        width: 75px;
        height: 75px;
        border-radius: 50%;
        border: none;
        cursor: pointer;
        background-color: #E8D1FB;
        position: relative;

        img {
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
        }

        @media (max-width: 768px) {
            width: 48px;
            height: 48px;
        }
    }

    &__word-type {
        margin-top: 40px;
        display: flex;
        align-items: center;
        gap: 20px;
        @include headingM(24px, 29px, 700);
        color: var(--black-400);

        @media (max-width: 768px) {
            @include bodyM();
        }

        span {
            height: 1px;
            width: 100%;
            background: var(--white-300);
        }
    }

    &__word-meaning {
        margin-top: 40px;

        p {
            @include headingS;
            color: var(--black-400);
            margin-bottom: 25px;

            @media (max-width: 768px) {
                font-size: 16px;
                line-height: 19px;
            }
        }
    }

    &__meaning-list {

        li {
            display: flex;
            flex-direction: column;
            gap: 8px;
            margin-bottom: 13px;
            @include bodyM;
            color: var(--black-300);

            @media (max-width: 768px) {
                font-size: 15px;
                line-height: 24px;
            }
        }

        span {
            margin-right: 20px;
            display: block;
            width: 5px;
            height: 5px;
            border-radius: 50%;
            background: #8F19E8;
        }
    }

    &__word-synonyms {
        margin-top: 64px;


        p {
            @include headingS;
            color: var(--black-400);

        }

        span {
            @include headingS(17px, 20px, 700);
            color: var(--purple);
            margin-left: 22px;
        }
    }

    &__word-example {
        @include bodyM();
        color: var(--white-400);
        margin-left: 48px;
    }

    &__word-source {
        margin-top: 40px;
        border-top: 1px solid var(--white-300);
        padding-top: 19px;
        @include bodyS;
        color: var(--white-400);

        a {
            margin-left: 20px;
            color: var(--black-300);
            text-decoration: underline;
        }
    }
}